<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Login</title>
  <th:block th:replace="fragment/header :: headerSection"></th:block>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/member/login.js}"></script>
</head>
<style>
  .login-bg-color {
    background-color: #006400;
  }

  .error-box {
    color: red;
    font-size: 12px;
  }
</style>

<body class="login-bg-color">

<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-12">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">로그인</h1>
            </div>
            <form id="loginForm" method="post" action="/member/login" class="user">
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="inputId" name="username"
                         placeholder="아이디를 입력하세요">
                </div>
              </div>

              <div class="form-group row ml-3 error-box" style="display: none" id = "idErrorBox">
              </div>

              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user"
                         id="inputPassword" name="password" placeholder="Password">
                </div>
              </div>

              <div class="form-group row ml-3 error-box" style="display: none" id = "passwordErrorBox">
              </div>

              <input type="submit" class="btn btn-primary btn-user btn-block" id="loginBtn" value="로그인">
              <a href="index.html" class="btn btn-google btn-user btn-block">
                <i class="fab fa-google fa-fw"></i> Register with Google
              </a>
              <a href="index.html" class="btn btn-facebook btn-user btn-block">
                <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
              </a>
              <hr>
            </form>
            <hr>
            <div class="text-center">
              <a class="small" href="forgot-password.html">Forgot Password?</a>
            </div>
            <div class="text-center">
              <a class="small" href="login.html">Already have an account? Login!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
<th:block th:replace="fragment/footer :: footerSection"></th:block>
</html>